#btn {
    position: absolute;
    top: 95%;
    left: 48%;
}

body {
    background-image: url('./Images/background.jpg');
    
}

#counter {
    text-align: center;
    font-size: 120%;
    color: white;
}

#title {
    color: white;
}